.one {
  background-color: red;
  color: white;
}

.two {
  background-color: #EEE;
  width: 100px;
  height: 100px;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
}

.ch:checked + label {
  color: red;
}

a:visited {
  color: blue;
}

div:empty {
  border: 5px solid orange;
}

.in {
  border: 3px solid purple;
}

.in:focus {
  border-color: black;
  outline: none;
}