/*  Flexible Box
    For Parent
    - align-content: stretch => Default Value
    If we have some elemnts like in our project today and want them to be seperated from each other we'll use align-items
    align-items makea spaces betweent elements but align-content doesn't make space when you type flex-end, flex-start or center but it makes spaces when you type space-around, space-between or space-evenly.
    stretch make the elements in the content stretch to fit in the content.
    */

* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 8px;
}

.flex {
  display: flex;
  background-color: #EEE;
  width: 600px;
  height: 400px;
  padding: 20px;
  margin: 20px auto;
  flex-wrap: wrap;
}

.flex div {
  background-color: #F00;
  color: white;
  width: calc(90% / 3);
  text-align: center;
  padding: 20px;
}