div {
    padding: 10px;
    width: 100px;
    color: #fff;
    text-align: center;
    position: absolute;
}

.one {
  background-color: red;
  left: 20px;
  top: 20px;
  z-index: 3;
}

.two {
  background-color: green;
  left: 15px;
  top: 15px;
  z-index: 2;
}

.three {
  background-color: blue;
}



/* If I made one and three their z-index 3 the three will come first because three is after one in html page */